.kasa-header {
  position: absolute;
  width: 1240px;
  height: 68px;

  top: 40px;
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 68px;
  width: 210px;
}

.kasa-accueil {
  height: 34px;
  width: 136px;
  top: 15px;

  position: absolute;
  left: 71.6%;
  right: 18.96%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  display: flex;
  align-items: flex-start;
  text-align: right;

  color: #ff6060;
  text-decoration: none;
}

.kasa-accueil:focus {
  text-decoration: underline;
}

.kasa-apropos {
  height: 34px;
  width: 116px;
  margin-top: 15px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #ff6060;

  text-decoration: none;
}

.kasa-apropos:focus {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .kasa-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    height: 47px;
    width: 145px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }

  .kasa-accueil,
  .kasa-apropos {
    font-size: 12px;
  }

  .kasa-accueil {
    margin-right: 10px;
  }
}
