.home-gallery {
  width: 100%;
  height: auto;
  padding-top: 3%;
  background: #f7f7f7;
  border-radius: 25px;
}

.home-cards {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 3%;
}

@media screen and (max-width: 1239px) {
  .home-gallery {
    width: 100%;
    background: transparent;
  }
  .home-cards {
    width: 100%;

    flex-direction: column;
  }

  .home-card {
    width: 100%;

    display: flex;
  }
}
