.logement-banner {
  height: 415px;
  /* width: 1240px; */
  width: 100%;

  background: #000000;
  mix-blend-mode: darken;
  filter: opacity(30);
  border-radius: 25px;
}

.logement-img {
  height: 415px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  border-radius: 25px;
}

.arrow-container {
  padding-top: 157px;
  display: flex;
  justify-content: space-between;
}
.arrow-left-container {
  height: 119px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-left {
  height: 79px;
  width: 47px;
  border: none;

  background: url('../Assets/arrow-left.svg');
}

.arrow-right-container {
  height: 119px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-right {
  height: 79px;
  width: 47px;
  border: none;

  background: url('../Assets/arrow-right.svg');
}

.logement-compteur {
  margin-top: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  justify-content: center;

  color: #ffffff;
}

@media screen and (max-width: 1239px) {
  .logement-banner {
    width: 100%;
    height: auto;
  }

  .arrow-container {
    padding-top: 200px;
  }

  .arrow-left-container,
  .arrow-right-container {
    width: 24px;
    height: 24px;
  }
  .arrow-left {
    width: 24px;
    height: 24px;
    background: url('../Assets/arrowSmall_left.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .arrow-right {
    width: 24px;
    height: 24px;
    background: url('../Assets/arrowSmall_right.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .logement-compteur {
    display: none;
  }
}
